<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Film predictor</h1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
<form method="post">
    <label for="budget">Budżet:</label>
    <input type="number" id="budget" name="budget" min="5000" placeholder="min 5000">
    <label for="year">Rok produkcji:</label>
    <input type="number" id="year" name="year" min="1900" max="2022" placeholder="1900-2022"/>
    <label for="genre">Gatunek:</label>
    <select name="genre" id="genre">
        {% for genre in genres %}
        <option value="{{genre}}">{{genre}}</option>
        {% endfor %}
    </select>
    <label for="country">Kraj produkcji:</label>
    <select name="country" id="country">
        {% for country in countries %}
        <option value="{{ country }}">{{ country }}</option>
        {% endfor %}
    </select>
    <label for="runtime">Czas trwania:</label>
    <input type="number" id="runtime" name="runtime" min="0" placeholder="min 0">
    <label for="production">Producent</label>
    <input type="text" placeholder="np. 20th Century Fox" id="production" name="production">
    <label for="rating">Rating:</label>
    <select name="rating" id="rating">
        <option value="R">R</option>
        <option value="PG">PG</option>
        <option value="PG">PG-13</option>
        <option value="PG">G</option>
        <option value="PG">NR</option>
        <option value="PG">NC17</option>
    </select>
    <button type="submit">policz</button>
</form>
    Audience rating: {{ prediction.prediction }}
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>